body {
    background-color: black;
}

* {
    color: #FFFFFF;
}

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

* {
    box-sizing: border-box;
}

.nav-section {
    background-color: black;
}

nav {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

 .first-list {
    flex: 1;
    -ms-flex-align: start;
    float: flex-start;
    margin-top: 5%;
    margin-left: 20%;
}
.background-for-photo {
     flex: 1;
     background-color: #ffb500;
     width: 500px;
     margin-left: 0%;
     border: 45px;
     border-style: solid;
     border-color: #ffb500;
  }

 .panther {
     width: 115%;
     height: auto;
     position: right absolute;
     margin-right: 85px; 
     float: right;
 }



 .header-font {
    font-size: 20px;
}

main p {
    font-size: 22px;
}

h1 {
 background-color: #6e033e;
 padding: 1cm; 
 text-align: center; 
 font-size: 55px;
 outline: 3px solid #FFFFFF;
 margin: 0;
 display: block;
 height: auto;
 width: auto;

}

main {
    width: 90%;
    margin: auto;
}

header {
    width: 90%;
    margin: auto;
}  


.goaldiv {
 padding: 15px;
 margin: 0px 25px;
 background-color: black;
}

#intro-header,
#first-header,
#second-header,
#third-header,
#fourth-header,
#other-header        {
    padding: 8px;
    background-color: #6e033e;
    font-size: 30px;
    border: solid;
    border-style: #FFFFFF;
    border-width: 5px;
    width:fit-content;
}

#first-header {
    margin-left: 12%;
}

#second-header {
    margin-left: 22%;
}

#third-header {
    margin-left: 34%;
}

#fourth-header {
    margin-left: 45%;
}


#other-header {
    margin-left: 57%;
}